pip~=25.0.1
attrs~=25.4.0
protobuf~=6.33.2
pillow~=12.0.0
tornado~=6.5.4
Jinja2~=3.1.6
packaging~=25.0
pyparsing~=3.2.5
typing_extensions~=4.15.0
matplotlib~=3.10.8
streamlit~=1.52.1
pandas~=2.3.3
numpy~=2.3.5
seaborn~=0.13.2
plotly~=6.5.0
scipy~=1.16.3